$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
@import "compass/support";

@import "compass/reset";
@import "compass/css3/images";
@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/user-interface";
@import "compass/utilities/sprites/base";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";

$experimental-support-for-svg: true;

$bgcolor-gradient: #528aab;
$bgcolor: #105577;
$selcolor: rgb(48,176,232);
$activecolor: #e83054;

body,html {
	margin:0;
	padding:0;
}

* {
	@include box-sizing(border-box);
}

a {
	&:link, &:visited {
		color: $selcolor;
	}
	&:hover, &:active {
		color: $activecolor;
	}
}

body,#content,article {
	max-width: 900px;
	@media (min-width: 1300px) {
		max-width: 1200px;
	}
}

body {
	margin: auto;
	color: white;
	
	background: $bgcolor;
	@include background(
		linear-gradient(rgba(lighten($bgcolor-gradient,20%),0.5),rgba($bgcolor,0)),
		inline-image('../images/sines.png'),
		inline-image('../images/bg.png'),
		$bgcolor
	);
	
	background-size: 100% 256px, 800px 190px, auto;
	background-repeat: no-repeat, repeat-x, repeat;
	background-position: top left, 0 20px;
	
	@media print {
		color: black;
		background: white;
	}
	
	font-family: Arial,Verdana,sans-serif;
	font-size: 62.5%;
	> * {
		font-size: 1.7em;
	}
	
	@media (min-width: 1300px) {
		font-size: 70%;
	}
}

hr {
	border: none;
	border-bottom: 2px dotted $selcolor - $bgcolor;
}

h2,h3,h4,h5,h6 {
	font-weight: bold;
	margin: 1px 0;
}
@for $index from 2 through 6 {
	h#{$index} {
		font-size: 1.7em - (0.2 * $index);
	}
}

h1 {
	font-size: 1.6em;
	display: inline;
	
	@media (min-width: 480px) {	
		float: left;
	}
	
	@media (min-width: 600px) {
		font-size: 1.9em;
	}

	a {
		height: 50px;
		line-height: 50px;
	}
}

header {
	margin-top: 10px;
	font-weight: bold;
	text-align: center;
	overflow: auto;

	
	@media (min-width: 480px) {
		margin-top: 20px;
//		height: 50px;
		text-align: right;
	}
	
	a {
		color: white !important;
		text-decoration: none !important;
		@media print {
			color: black !important;
		}
	}
}

nav {
	a {
		@include border-radius(10px);
		@include user-select(none);
		display: inline-block;
		width: 17%;
		min-width: 80px;
		text-align: center;

		line-height: 38px;
		height: 38px;
		@media (min-width: 480px) {
			height: 50px; // sets "minimum height" because tables.
			line-height: 50px;
		}
		
		@media print {
			color: #999 !important;
		}
		
		&.selected, &:focus {
			@include box-shadow(0 0 10px darken($bgcolor,6%));
			text-shadow: 0 0 1em rgba(255, 255, 255, 0.5);
			outline: 0;
		}
		
		&.selected {
			background: darken($bgcolor,5%);
			@media print {
				background: auto;
				color: black !important;
			}
		}
		
		&:hover {
			color: $selcolor !important;
			&:not(.selected) {
				background: rgba(darken($bgcolor,5%),0.25);
			}
		}
	}
}

#can_has_javascript {
	display: block;
	text-align: justify;
	font-size: 1.1em;
	color: lighten($bgcolor,25%);
	margin: 10px;
	
	@media print {
		display: none;
	}
}

#content {
	display: block;
	margin: 5px 0;
	
	background: darken($bgcolor,5%);
	@include background(linear-gradient(top,darken($bgcolor,3%),darken($bgcolor,6%),darken($bgcolor,1%) ),darken($bgcolor,5%));

	border: solid 1px darken($bgcolor,6%);
	@media (min-width: 480px) {
		@include box-shadow(/*0 0 10px darken($bgcolor,6%),*/0 0 10px darken($bgcolor,6%) inset);
	}
	
	@media (min-width: 890px) {
		@include border-radius(10px);
	}
	
	min-height: 100px;
	
	p {
		margin: 10px 0;
	}
}

article {
	line-height: 120%;
	padding: 15px;
	
	@media (min-width: 480px) {
		line-height: 150%;
	}
}

	
li {
	margin-left: 30px;
}
ul {
	list-style: disc;
}
ul ul {
	list-style: square;
	li {
		margin-left: 15px;
	}
}

#gravatar {
	float: right;
	margin:10px;
	width: 128px;
	height: 128px;
	@include border-radius(5px);
}

#figure_container {
	overflow: auto;
	margin: 20px 0 40px 0;
	clear: both;
	text-align: center;
}

figure {
	width: 277px;
	margin: 0 auto;
	
	@media (min-width: 850px) {
		float: left;
		width: 33%;
		display: inline-block;
	}
	
	img {
		margin: 20px auto;
		display: block;
	}
}

#responsive_img {
	width: 277px;
	height: 82px;
}

#server_img {
	width: 96px;
	height: 82px;
}

#music_img {
	width: 88px;
	height: 82px;
}

$social-sprites: sprite-map('social/*.png');

@mixin footer-anchor-icon($name) {
	$xpos: round(nth(sprite-position($social-sprites, $name), 1) / 2);
	$ypos: round(nth(sprite-position($social-sprites, $name), 2) / 2);
	background-position: $xpos $ypos;
}

footer {
	margin: 14px 15px 0 15px;
	height: 34px; // this is bigger than the icons because the icons have drop shadows
	line-height:32px;
	
	@media (min-width: 940px) {
		margin: 14px 0 0 0;
	}
	
	font-size:1.1em;
	color: lighten($bgcolor,10%);
	
	div { 
		float: right;
	}
	
	
	.not-horrible  & {
		@media screen, projection {
			$siteList: (Facebook SoundCloud GitHub LinkedIn Gmail Reddit YouTube MySpace);
			$siteSelector: "";
			@each $site in $siteList {
				@if $siteSelector != "" {
					$siteSelector: $siteSelector + ", ";
				}
				$siteSelector: $siteSelector + "a[title=\"#{$site}\"]";
				a[title="#{$site}"] {
					@include footer-anchor-icon($site);
				}
			}
			#{$siteSelector} {
				@include border-radius(50%);
				background-image: sprite-url($social-sprites);
				background-size: 32px auto;
				display: inline-block;
				-webkit-text-size-adjust: none;
				overflow: hidden;
				line-height:1000px;
				font-size: 0;
				height:32px;
				width:32px;
				margin-right: 1px;
				@media (min-width: 480px) {
					margin-right: 0px;
				}
				@include transition(box-shadow 50ms);
				@include box-shadow(3px 3px 4px rgba(0,0,0,0.3));
				&:hover,&:focus {
					@include box-shadow(0px 0px 3px 3px rgba($selcolor,0.8));
					outline: 0;
				}
				&:active {
					@include box-shadow(0px 0px 0px 2px rgba($selcolor,0.8));
				}
			}
		}
	}
	
	@media print {
		a {
			text-decoration: none;
		}
	}
}

// This stuff is for swipe.js
@media screen {
	.js {
		#content {
			visibility: hidden;
			position: relative;
			overflow: hidden;
		}
		
		#swipe-wrap {
			overflow: hidden;
			position: relative;
		}
		
		article {
			float: left;
			width: 100%;
			position: relative;
			visibility: hidden;
		}
	}
}

// and this stuff is for no-js.
.no-js {
	article {
		display: none;
		&.selected {
			display: block;
		}
	}
}


@media print {
	article {
		display: none;
		&.selected {
			display: block;
		}
	}
}

// career columns

.two_columns {
	font-size: 0.8em;
	line-height: 140%;
	> div {
		padding: 20px 0;
	}
	@media (min-width: 480px) {
		margin: 10px;
	}
	@media (min-width: 720px) {
		overflow: auto;
		> div {
			padding: 10px;
			float: left;
			width: 50%;
		}
	}
}

#github_blurb {
	display: block;
	margin: 50px 0 30px 0;
	text-align: center;
	font-size: 1em;
	
	text-decoration: none;
	color: white !important;
	@media print {
		color: black !important;
	}
	&:hover {
		//text-decoration: underline;
		img {
			@include border-radius(50%);
			@include box-shadow(0 0 8px rgba(255, 255, 255, 0.3));
		}
	}

	img {
		width: 128px;
		height: 128px;
		
	}
}

// music description text
#music_description {
	font-size: 0.8em;
	line-height: 110%;
	text-align: justify;
}

#soundcloud_player {
	min-height: 280px;
	text-align: center;
	p {
		margin: 20px 0;
	}
	strong {
		display:block;
		padding-top: 75px;
	}
}

// music page controls
#controls {
	overflow: hidden;
	font-weight: bold;
	font-size: 0.7em;
	text-decoration: underline;
	> div {
		width: 50%;
		max-width: 130px;
		
		@media (min-width: 480px) {
			max-width: 150px;
		}
		
		display: inline-block;
		cursor: pointer;
		border: 1px solid black;
		line-height:42px;
		text-align: center;
		@include background(linear-gradient(darken($selcolor,2%),lighten($bgcolor,5%)),darken($selcolor,5%));
		&:hover {
			@include background(linear-gradient(lighten($selcolor,7%),lighten($bgcolor,14%)),$selcolor);
		}
		&:active {
			@include background(linear-gradient(lighten($bgcolor,5%),darken($selcolor,2%)),darken($selcolor,10%));
			color: #eef; 
		}
		&:hover:active {
			@include background(linear-gradient(lighten($bgcolor,14%),lighten($selcolor,7%)));
		}
		@include border-radius(10px);
		@include user-select(none);
	}
	padding: 5px 0;
	
}

#album_name {
	font-size: 0.9em;
	font-weight: bold;
	&:before {
		content: "ALBUM: ";
	}
}

#prev_album {
	float: left;
	body.first_album & {
		@include background(linear-gradient(darken($bgcolor,2%),$bgcolor));
		cursor: default;
		
	}
}
#next_album {
	float: right;
	body.last_album & {
		@include background(linear-gradient(darken($bgcolor,2%),$bgcolor));
		cursor: default;
	}
}

#cc_license {
	width: 80px;
	margin-left:auto;
}

#fb_like {
	width: 200px;
	min-height:62px;
	margin: auto;
	@media (min-width: 480px) {
		margin: 0;
		margin-left: 18px;
		float: right;
	}
}
