
@import "compass/reset";
@import "compass/css3/images";
@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/user-interface";
@import "compass/utilities/sprites/base";

$experimental-support-for-svg: true;

$bgcolor-gradient: #528aab;
$bgcolor: #105577;
$selcolor: rgb(48,176,232);

body,html {
	margin:0;
	padding:0;
}

* {
	@include box-sizing(border-box);
}

a {
	&:link, &:visited {
		color: $selcolor;
	}
	&:hover, &:active {
		color: #e83054;
	}
}

body,content {
	max-width: 900px;
}

body {
	margin: auto;
	color: white;
	
	@include background(linear-gradient($bgcolor-gradient,$bgcolor),inline-image('../images/test_bg.png'),$bgcolor);
	
	background-size: 100% 128px, auto;
	background-repeat: no-repeat,repeat;
	background-position: top left;
	
	@media print {
		color: black;
		background: white;
	}
	
	font-family: Arial,Verdana,sans-serif;
	font-size: 62.5%;
	> * {
		font-size: 1.7em;
	}
}


header {
	@include border-radius(10px);

	margin-top: 20px;
	border-top: 4px solid darken($bgcolor,5%);
	border-bottom: 4px solid darken($bgcolor,6%);
	overflow: hidden;
	font-weight: bold;
	
	@media print {
		border: 1px solid black;
		@include border-radius(10px);
	}
	
	@media (min-width: 420px) {
		height: 68px;
	}
	
	a {
		color: white !important;
		text-decoration: none !important;
		@media print {
			color: black !important;
		}
	}

	
	h1 {
		text-align: center;
		width: 100%;
		
		@media (min-width: 420px) {
			float:left;
			width: auto;
			margin-left:15px;
		}
		
		display: table;
		overflow: auto;
		height: 100%;
		
		
		a {
			display: table-cell;
			vertical-align: middle;
			height: 50px; // sets "minimum height" because tables.
		}
	}
	
	ul {
		width: 100%;
		height: 100%;
		
		@media (min-width: 420px) {
			float:right;
			width: 50%;
		}
		font-size: 1.0rem;
		
		text-align: center;
		overflow: hidden;
		display: table;
		
		@media print {
			padding: 5px;
		}
		
		
		a {
			@include user-select(none);
			margin-right:1px;
			display: table-cell;
			vertical-align: middle;
			height:50px; // sets "minimum height" because tables.
			cursor: pointer;
			@media (min-width: 420px) {
				border-bottom: 3px solid darken($selcolor,18%);
				border-top: 3px solid darken($selcolor,18%);
			}
			
			@media (min-width: 640px) {
				&:first-child {
					border-left: 15px solid transparent;
				}
			}
			
			@media (min-width: 900px) {
				&:last-child {
					border-right: 15px solid transparent;
				}
			}
			
			@media print { 
				border: none;
			}
			
			&.selected {
				background: darken($bgcolor,2.5%);
				@media print {
					background: auto;
					border: 1px solid black;
					@include border-radius(10px);
				}
			}
			
			&:hover {
				color: $selcolor !important;
				background: darken($bgcolor,4%);
			}
		}
	}
}

content {
	display: block;
	margin: 5px 0;
	
	@include background(linear-gradient(top,darken($bgcolor,6%),darken($bgcolor,3%) 6%, darken($bgcolor,5%) 8%, darken($bgcolor,1%) ));
	//background: darken($bgcolor,5%);
	border: solid 1px darken($bgcolor,2%);
	@include box-shadow(0 0 10px darken($bgcolor,6%),0 0 10px darken($bgcolor,6%) inset);
	@include border-radius(10px);
	min-height: 100px;
	
	article {
		line-height: 120%;
		padding: 15px;
		
		h1,h2,h3,h4,h5,h6 {
			margin: 1px 0;
		}
		
		li {
			margin-left: 30px;
		}
		ul {
			list-style: disc;
		}
		ul ul {
			list-style: square;
		}
	}
	
	p {
		margin: 10px 0;
	}
	
	
	// for the front page objectivity joke.
	.asterisk {
		color: red;
	}
	
	#disclaimer {
		font-size: 0.7rem;
		font-style: italic;
	}
}

#gravatar {
	float: right;
	margin:10px;
	width: 128px;
	height: 128px;
	@include border-radius(5px);
}

$social-sprites: sprite-map('social/*.png');

@mixin footer-anchor-icon($name) {
	background-image: sprite-url($social-sprites);
	
	height: image-height(sprite-file($social-sprites, $name));
	width: image-width(sprite-file($social-sprites, $name));
	
	$xpos: round(nth(sprite-position($social-sprites, $name), 1) / 2);
	$ypos: round(nth(sprite-position($social-sprites, $name), 2) / 2);
	background-position: $xpos $ypos;

	background-size: 32px auto;
	
	display: inline-block;
	-webkit-text-size-adjust: none;
	overflow: hidden;
	line-height:1000px;
	font-size: 0;
	height:32px;
	width:32px;
}

footer {
	text-align: right;
	margin: 0 15px;
	
	@media (min-width: 940px) {
		margin: 0;
	}
	
	a[title="Facebook"] {
		@include footer-anchor-icon(facebook-64x64);
	}
	a[title="SoundCloud"] {
		@include footer-anchor-icon(soundcloud-64x64);
	}
	a[title="GitHub"] {
		@include footer-anchor-icon(github-64x64);
	}
	a[title="LinkedIn"] {
		@include footer-anchor-icon(linkedin-64x64);
	}
	a[title="Email"] {
		@include footer-anchor-icon(gmail-64x64);
	}
	a[title="Reddit"] {
		@include footer-anchor-icon(reddit-64x64);
	}
	a[title="YouTube"] {
		@include footer-anchor-icon(youtube-64x64);
	}
	a[title="MySpace"] {
		@include footer-anchor-icon(myspace-64x64);
	}
	
}

// This stuff is for swipe.js
@media screen {
	content {
		visibility: hidden;
		position: relative;
		overflow: hidden;
		
		> div {
			overflow: hidden;
			position: relative;
			
			article {
				float: left;
				width: 100%;
				position: relative;
			}
		}
	}
}

@media print {
	article {
		display: none;
	}
	article.selected {
		display: block;
	}
}

// music page controls
#controls {
	overflow: hidden;
	font-weight: bold;
	font-size: 1.0rem;
	text-decoration: underline;
	> span {
		cursor: pointer;
	}
	padding: 5px 0;
	
}

#prev_album {
	float: left;
	body.first_album & {
		display: none;
	}
}
#next_album {
	float: right;
	body.last_album & {
		display: none;
	}
}


h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
}
@for $index from 1 through 6 {
	h#{$index} {
		font-size: 1.6em - (0.25 * $index);
	}
}

