<!DOCTYPE html>
<!-- {{{ -->
<!--
	aaronopfer.com
	Written by Aaron Opfer. Who else?
-->
<!-- }}} -->
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
		<link href="stylesheets/screen.css" rel="stylesheet" type="text/css" />
		<link rel="dns-prefetch" href="//w.soundcloud.com">
		<link rel="dns-prefetch" href="//connect.facebook.net">
		<!--[if IE]>
			<link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
			<script>if(typeof document!=="undefined"&&!("classList"in document.createElement("a"))){(function(e){"use strict";var t="classList",n="prototype",r=(e.HTMLElement||e.Element)[n],i=Object,s=String[n].trim||function(){return this.replace(/^\s+|\s+$/g,"")},o=Array[n].indexOf||function(e){var t=0,n=this.length;for(;t<n;t++){if(t in this&&this[t]===e){return t}}return-1},u=function(e,t){this.name=e;this.code=DOMException[e];this.message=t},a=function(e,t){if(t===""){throw new u("SYNTAX_ERR","An invalid or illegal string was specified")}if(/\s/.test(t)){throw new u("INVALID_CHARACTER_ERR","String contains an invalid character")}return o.call(e,t)},f=function(e){var t=s.call(e.className),n=t?t.split(/\s+/):[],r=0,i=n.length;for(;r<i;r++){this.push(n[r])}this._updateClassName=function(){e.className=this.toString()}},l=f[n]=[],c=function(){return new f(this)};u[n]=Error[n];l.item=function(e){return this[e]||null};l.contains=function(e){e+="";return a(this,e)!==-1};l.add=function(e){e+="";if(a(this,e)===-1){this.push(e);this._updateClassName()}};l.remove=function(e){e+="";var t=a(this,e);if(t!==-1){this.splice(t,1);this._updateClassName()}};l.toggle=function(e){e+="";if(a(this,e)===-1){this.add(e)}else{this.remove(e)}};l.toString=function(){return this.join(" ")};if(i.defineProperty){var h={get:c,enumerable:true,configurable:true};try{i.defineProperty(r,t,h)}catch(p){if(p.number===-2146823252){h.enumerable=false;i.defineProperty(r,t,h)}}}else if(i[n].__defineGetter__){r.__defineGetter__(t,c)}})(self)}</script>
		<![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, target-densitydpi=medium-dpi">
		<link rel="shortcut icon" type="image/png" href="images/favicon.png">
		<title>Aaron Opfer</title>
	</head>

	<body>
		<div id="fb-root"></div><!-- facebook helper div -->
		<header>
			<h1><a href="" title="Aaron Opfer">AARON OPFER</a></h1>
			<nav>
				<a href="" title="Home">HOME</a>
				<a href="career" title="Career">CAREER</a>
				<a href="music" title="Music">MUSIC</a>
			</nav>
		</header>
		
		<content>
			<div class='swipe-wrap' id="swipe-wrap">
				<article>
					<img id="gravatar" src="https://secure.gravatar.com/avatar/63f6aa22eee34930753969832d205da1?s=256" alt="Aaron Opfer">
					<p>
						Software Developer. Indie Musician.
					</p>
					
					<p>
						This is his domain.
					</p>
					
					<p>Would you like to know more?</p>
					
					<ul id="choosy">
						<li><a href="career" title="Career" data-index="1">I want to know how Aaron Opfer can help me futuro-synergize into the Cloudspace.</a>
						<li><a href="music" title="Music" data-index="2">I want listen to Aaron Opfer drop sick beats all over this cool mo deezo.</a>
					</ul>
				</article>
				
				<article>
					<div class="two_columns">
						<div>
							<h3>Software Developer Experience</h3>
							<ul>
								<li>Javascript/jQuery
								<li>HTML5/CSS3
								<li>SASS &amp; Compass
								<li>Node.js
								<li>Tornado
								<li>PHP
								<li>C/C++
								<li>MySQL
								<li>MongoDB
								<li>Socket &amp; Network Programming (Linux &amp; Windows)
								<li>Python
								<li>bash
								<li>Reverse-Engineering (binaries, websites, etc)
								<li>Disassembly
								<li>Intel x86 Assembly
								<li>Embedded Linux &amp; Kiosk Applications 
								<li>Network Security
								<li>Industrial Comm. Equipment (Modbus)
							</ul>
						</div>
						<div>
							<h3>Systems Administration Experience</h3>
							<ul>
								<li>Linux Server Administration
									<ul>
										<li>Various network service daemons (DNS,DHCP,etc)
										<li>RAID
										<li>iptables Firewalls
										<li>Squid proxy
										<li>Mail daemons (Dovecot)
										<li>Samba 3 domains
										<li>PXE boot utilities
									</ul>
								</li>
								<li>Administering ~20 Windows PCs and Laptops
							</ul>
							<a id="github_blurb" href="https://github.com/AaronOpfer/aaronopfer.com" title="aaronopfer.com on GitHub">
								<span>View this site's code on GitHub!</span><br>
								<img alt="GitHub Icon" src="images/github.png">
							</a>
						</div>
					</div>
					<hr>
					<p>
						To request an official resume, please contact me by email: <a href="mailto:me@aaronopfer.com">me@aaronopfer.com</a>.
					</p>
				</article>
				
				<article id="music_tab">
					<div id="music_description">
						<div id="fb_like">
							<div class="fb-like-box" data-href="http://www.facebook.com/aaronopfer" data-width="200" data-show-faces="false" data-colorscheme="dark" data-stream="false" data-header="true"></div>
						</div>
						<p>
							My music is the product of the development of my musical talents since my freshman year of High School
							when I first started tinkering with a program called FL Studio. Over time I’ve developed a particular style 
							and preference for my music. As I create more and more music I try to get better results by increasing melodic
							variety and improving my mastering technique, and finding inspiration from new sources.
						</p>
						<p> Below is my entire body of released work.</p>

					</div>
					<hr>
					<div id="album_name">...</div>
					<div id="controls">
						<div id="prev_album">&lt; PREVIOUS ALBUM</div>
						<div id="next_album">NEXT ALBUM &gt;</div>
					</div>
					<div id="soundcloud_player"><!--<iframe id=soundcloud_player width="100%" height="350" scrolling="no" frameborder="no"></iframe>--></div>
					<div id="cc_license" ><a title="This work is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 3.0 United States License." href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/"><img alt="Creative Commons Logo" src="images/by-nc-sa-3.0-us-80x15.png"></a></div>
				</article>
			</div>
		</content>
		
		<footer>
			&copy; Aaron Opfer 2012. Some Rights Reserved.
			<div>
				<a title="Facebook" href="http://www.facebook.com/aaronopfer">Facebook</a>
				<a title="MySpace" href="http://myspace.com/aaronopfer">MySpace</a>
				<a title="SoundCloud" href="http://soundcloud.com/aaronopfer">SoundCloud</a>
				<a title="GitHub" href="https://github.com/aaronopfer">GitHub</a>
				<a title="LinkedIn" href="http://www.linkedin.com/pub/aaron-opfer/62/385/a9/">LinkedIn</a>
				<a title="Reddit" href="http://www.reddit.com/user/aaronopfer">Reddit</a>
				<a title="YouTube" href="http://www.youtube.com/user/aaronopfer">YouTube</a>
				<a title="Gmail" href="mailto:me@aaronopfer.com">me@aaronopfer.com</a>
			</div>
		</footer>
		<%=load_scripts(["swipe.js","ao.js"]) %>
	</body>
</html>