worker_processes  1;

events {
	worker_connections  1024;
}

http {
	access_log  /home/aaronopfer/logs/user/access_aaronopfer.log combined;
	error_log   /home/aaronopfer/logs/user/error_aaronopfer.log crit;

	include mime.types;
	sendfile on;

	server {
		listen 127.0.0.1:80;
		root /home/aaronopfer/webapps/aaronopfer/;

		location = /index.html {
			add_header Cache-Control "public, max-age=3600, must-revalidate";
		}
		
		location  ~ ^/[^\.\/]+$ {
			add_header Cache-Control "public, max-age=3600, must-revalidate";
			try_files $uri.html index.html;
		}
		
		location = /favicon.ico {
			add_header Expires "Thu, 31 Dec 2037 23:55:55 GMT";
			add_header Cache-Control "public, max-age=315360000";
		}
		
		location ~ ^/images/social-[a-z0-9]+.png$ {
			add_header Expires "Thu, 31 Dec 2037 23:55:55 GMT";
			add_header Cache-Control "public, max-age=315360000";
		}
		
		location ~ ^(/.+)(\.[a-z0-9]+)(\.[a-z0-9]+)$ {
			try_files $1$3 $1$2$3;
			add_header Expires "Thu, 31 Dec 2037 23:55:55 GMT";
			add_header Cache-Control "public, max-age=315360000";
		}
		location /js/ {
			add_header Expires "Thu, 31 Dec 2037 23:55:55 GMT";
			add_header Cache-Control "public, max-age=315360000";
		}
	}
}
